body {
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, rgb(235, 168, 43), rgb(211, 13, 211));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    box-shadow: 4px 6px 0;
    padding: 100px;
    text-align: center;
    border-radius: 1000px;
}

h1 {
    font-size: 90px;
    margin-bottom: 40px;
}

#numero {
    font-size: 80px;
    margin: 30px;
}

button {
    font-size: 20px;
    padding: 10px 20px;
    margin: 8px;
    cursor: pointer;
}