body {
    margin: 0;
    font-size: arial, helvetica, sans-serif;
    background-color: aliceblue; 
    color: green;
}
header {
    background: rgb(36, 252, 8);   
    color: chartreuse;    
    text-align: center;   
    padding: 20px;
}
.nav {
    background-color: greenyellow;
    text-align:   center  ;
    padding: 15px ;
}
.nav a {
    color: white;    
    text-decoration: none;  
    margin: 0 15px;
}
.nav a:hover{
  
    text-decoration: underline;  

}
.content{
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;

}
.content h2{
    color: darkblue;
}
.video-container{
    text-align: center;
    margin-top: 25px;
}
video {
    width: 100%;
    max-width: 800px; 
    border-radius: 10px;    
    box-shadow: 0 4px 10px black;

}
.footer {
    background-color: rgb(13, 48, 36);
    color: white;  
    text-align: center; 
    padding: 20px;
    margin-top: 30px;
}